
<div>
    <h1>Lorem ipsum dolor sit amet</h1>

    <div class="card">
        <div class="card1">
            <img src="assets/orgimg1.png">
            <h2>Book your test</h2>
            <p>Ready to book your IELTS test? Find your closest IELTS test centre here.</p>


        </div>
        <div class="card1">
            <img src="assets/orgimg2.png">
            <h2>Book your test</h2>
            <p>Ready to book your IELTS test? Find your closest IELTS test centre here.</p>


        </div>
        <div class="card1">
            <img src="assets/orgimg3.png">
            <h2>Book your test</h2>
            <p>Ready to book your IELTS test? Find your closest IELTS test centre here.</p>



        </div>


    </div>
</div>
