
<!---message and email footer-->
<div class="email">
    <img src="assets/helpicon.svg">
    <p>Need to talk someone? Email or<span [style.color]="color" routerLink="Message">Message us</span></p>

</div>
<!---main footer contains other links-->

<div class="footer">
    <div class="con11col">
        <div class="con11col1">
            
            <ul class="con11list1">
                <li><h4>Practise</h4></li>
                <a class="con5bg2" routerLink="studyplan"><li> The IELTS Study Plan</li></a>
                <a class="con5bg2"  routerLink="Masterclass"><li>    IELTS Masterclass</li></a>
                <a class="con5bg2"   routerLink="progresscheck"><li>    IELTS Progress Check</li></a>
                <a class="con5bg2"  routerLink="writingassist"><li>  IELTS Writing Assist</li></a>
            </ul>
        </div>
    </div>
    <div class="con11col2">

        <ul class="con11list1">
            <li><h4> About us</h4></li>
            <a class="con5bg2" ><li>     The IELTS Study Plan</li></a>
            <a class="con5bg2"><li> 
                IELTS Masterclass</li></a>
            <a class="con5bg2" ><li> IELTS Progress Check</li></a>
            <a class="con5bg2" ><li>  IELTS Writing Assist
            </li></a>
        </ul>

    </div>

    <div class="con11col2">

        <ul class="con11list1">
            <li><h3> Language</h3></li>
            <select>
                <option>English</option>
                <option>English</option>
                <option>English</option>
            </select>

            <li><h3> IDP IELTS</h3></li>
            <i class="fa fa-facebook-square" ></i>
            <i class="fa fa-twitter-square" ></i>
            <i class="fa fa-linkedin-square"></i>
           
        </ul>

    </div>
</div>


<!---bottom  footer copyright  and other links-->
<div class=" btmfooter">
    <div class="footimg">
    <img src="assets/IDP.svg">
    <img src="assets/IETLS_white.svg">
                <ul>
                    <li><a >IDP Education</a></li>
                    <li>  Contact</li>
                    <li>  Disclaimer</li>
                    <li> Privacy Policy</li>
                    <li> Terms</li>
                    <li> Legal Notices</li>
                    <li>IELTS Referal Program</li>
                    <li> Copyright 2020 IELTS Australia</li>
                    
                </ul>

            </div>  
              
              
               
               
               
                
               
</div>



