<div class="container">
    <!--Image path is given in TS file-->
    <img [src]="image">
    <div class="con">
        <h1>This should be a maximum of seventy two characters. This should be a max</h1>
        <p>30 Oct 2020</p>
        <p>This is a brief description to give users context to the website. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus, id preti</p>
        <div class="cost">
            <a routerLink="moreaboutus">{{about}} &nbsp;<i class="fa fa-chevron-right"></i></a>
            <a class="cost1">Cost: $49.95</a>
        </div>
    </div>

</div>
