<div class="socialblog">
    <div class="socialblog1">
       <div class="socialblog1_1">
        <img  class="socialimg" [src]="image" >
      
       </div>
       <div class="socialblog1_1 blog1">
           <img src="assets/Facebook.png">
           <p>6 March 2020</p>
           <p>Lorem Ipsum is simply dummy text of the printing and industry printing and typesetting industry printing and typesetting industry.</p>
        

        </div>
       

    </div>
    <div class="socialblog1">
        <img class="socialblog2" src="assets/postbig.png">
      

    </div>
    <div class="socialblog1">
        <div class="socialblog1_1 blog1">
            
            <img src="assets/Facebook.png" >
           <p>6 March 2020</p>
           <p>Lorem Ipsum is simply dummy text of the printing and industry printing and typesetting industry printing and typesetting industry.</p>
        
    
           </div>
           <div class="socialblog1_1 blog2" >
           
            <img  class="socialimg" [src]="image" >
            </div>
        

    </div>

</div>







