
<div class="writingcard">
    <h1>Lorem ipsum dolor sit amet</h1>

    <div class="card">
        <div class="card1">
           <img src="assets/feaimage.png">
           <div class="card1_1">
            <p>IELTS Writing Task 2: 8 steps towards a Band 8</p>
            <a  [style.color]="color" routerLink="readmore">{{Rm}} &nbsp;<i class="fa fa-chevron-right"></i></a>
           </div>
          
               

         
            


        </div>
        <div class="card1">
            <img src="assets/feaimage.png">
           <div class="card1_1">
            <p>IELTS Writing Task 2: 8 steps towards a Band 8</p>
            <a [style.color]="color" routerLink="readmore">{{Rm}} &nbsp;<i class="fa fa-chevron-right"></i></a>
           </div>
           
           


        </div>
        <div class="card1">
            <img src="assets/feaimage.png">
           <div class="card1_1">
            <p>IELTS Writing Task 2: 8 steps towards a Band 8</p>
            <a [style.color]="color"  routerLink="readmore">{{Rm}} &nbsp;<i class="fa fa-chevron-right"></i></a>
           </div>
          
            


        </div>


    </div>
</div>

