<div class="review">
    <div class="review1 review1_1">
        <img src="assets/quote.png">
        <h1>With the initial steps of getting my required score from IELTS I was able to apply for a PR</h1>
        <p>{{name}}</p>
        <p>{{place}}</p>
        <img [src]="star">
        <img [src]="star">
        <img [src]="star">
        <img [src]="star" >
        <img [src]="star"><br><br>
        <i class="fa fa-chevron-circle-left"  style="font-size:24px"></i>&nbsp;<i class="fa fa-chevron-circle-right"  style="font-size:24px"></i>

    </div>
    <div class="review1">
        <img [src]="testimonial">

    </div>

</div>
