
<div class="authorprofile">
    <h1>Lorem ipsum dolor sit amet</h1>

    <div class="card">
        <div class="card1">
           <img src="assets/authorprofile.jpg">
           <div class="card1_1">
               <p>Author Profile</p>
               <p>Learn about IELTS</p>
            <a>This is a brief description to give users context to the website. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus, id preti</a>
            <div class="cost">
                <a routerLink="readmore">{{Rm}} &nbsp;<i class="fa fa-chevron-right"></i></a>
                <a class="cost1">Cost: $49.95</a>
            </div>
           </div>
          
               

         
            


        </div>
        <div class="card1">
            <img src="assets/authorprofile.jpg">
            <div class="card1_1">
                <p>Author Profile</p>
                <p>Learn about IELTS</p>
             <a>This is a brief description to give users context to the website. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus, id preti</a>
             <div class="cost">
                 <!--Interpolation-->
                <a routerLink="readmore">{{Rm}} &nbsp;<i class="fa fa-chevron-right"></i></a>
                <a class="cost1">Cost: $49.95</a>
            </div>
            </div>
           
           


        </div>
        <div class="card1">
            <img src="assets/authorprofile.jpg">
            <div class="card1_1">
                <p>Author Profile</p>
                <p>Learn about IELTS</p>
             <a>This is a brief description to give users context to the website. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus, id preti</a>
             <div class="cost">
                <a routerLink="readmore">{{Rm}} &nbsp;<i class="fa fa-chevron-right"></i></a>
                <a class="cost1">Cost: $49.95</a>
            </div>
            </div>
            


        </div>


    </div>
</div>

