<div class="viedocontainer">
    <div class="viedo">
        <img src="assets/videocover.png">
        <div class="viedo_1">
           <h1>The world’s leading English test for study</h1> 
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida nunc proin aliquam sit libero pretium. Massa elementum diam malesuada fusce sed mi ornare ullamcorper sit. Cursus vestibulum facilisis sem dui, sed sit rutrum in ut.</p>
        
            <a [style.color]="color" routerLink="moreaboutus">{{about}}</a>   
     </div>

    </div>

</div>
